In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import json
from datetime import datetime, timedelta
from dateutil import relativedelta
import calendar
import numpy as np

In [3]:
dict_data = dict(json.loads(open('./data/data.json', 'r').read()))
df = pd.read_csv('./data/retrieved_data.csv')

In [14]:
df.rename(columns={"Unnamed: 0": "Date"}, inplace=True)
df.set_index('Date', inplace=True)

In [ ]:
df.index = [str(datetime.strptime(d, '%Y-%m-%d') + timedelta(1)).split()[0] for d in df.index]
df.index = pd.to_datetime(df.index)

In [ ]:
df.head()

In [ ]:
raw_prices = dict_data['prices']
for row in raw_prices:
    str_date = str(datetime.fromtimestamp(row['time'])).split()[0]
    if str_date in df.index:
        df.at[str_date, 'OilFuture'] = "%.2f" % row['price']
df = df[(df.index >= datetime(2013, 11, 17))]

In [ ]:
df.head()

In [ ]:
def get_last_week(month):
    first_day = datetime.strptime(str(month), '%Y%m')
    days_in_month = calendar.monthrange(first_day.year, first_day.month)[1]
    return (first_day + relativedelta.relativedelta(day=days_in_month, 
                                            weekday=relativedelta.MO(-1))).date()

In [ ]:
def fill_i_e(ie_df):
    import_df = ie_df[ie_df['Trade Flow'] == 'Exports']
    export_df = ie_df[ie_df['Trade Flow'] == 'Imports']
    for month, group in import_df.groupby('Period'):
        last_week = get_last_week(month)
        if last_week.year == 2013 and last_week.month < 11:
            continue
        df.at[last_week, 'PPImport'] = "%.2f" % np.sum(group['Trade Value (US$)'])
    
    for month, group in export_df.groupby('Period'):
        last_week = get_last_week(month)
        if last_week.year == 2013 and last_week.month < 11:
            continue
        df.at[last_week, 'PPExport'] = "%.2f" % np.sum(group['Trade Value (US$)'])
    return df

In [ ]:
filenames = "comtrade-{0}.csv comtrade-{1}.csv comtrade-{2}.csv \
            comtrade-{3}.csv comtrade-{4}.csv comtrade-{5}.csv ".format(3, 9, 10, 11, 12, 13).split()

for filename in filenames:
    df = fill_i_e(pd.read_csv('./data/' + filename))

In [ ]:
df.head(20)

In [ ]:
df.tail(20)

In [ ]:
df.to_csv('./data/retrieved_data.csv')

In [15]:
df.head()

,PPSpotAvgPrice,OilAvgPrice,PPImport,PPExport,ExchangeRate,PPFuture,OilFuture
Date,,,,,,,
2013-11-18,NaN,NaN,NaN,NaN,6.1351,NaN,101.94
2013-11-25,NaN,NaN,375013373.0,24344624.0,6.1380,NaN,102.14
2013-12-02,NaN,NaN,NaN,NaN,6.1325,NaN,103.53
2013-12-09,NaN,NaN,NaN,NaN,6.1232,NaN,104.01
2013-12-16,NaN,NaN,NaN,NaN,6.1148,NaN,101.57

In [62]:
sereja_df = pd.read_csv('./data/futures.csv')
#sereja_df.rename(columns={"Unnamed: 0": "Date"}, inplace=True)
sereja_df.set_index('Date', inplace=True)
sereja_df.head()

,Unnamed: 0,PPSpotAvgPrice,OilAvgPrice,PPImport,PPExport,ExchangeRate,PPFuture,OilFuture
Date,,,,,,,,
2008-11-16,0,NaN,NaN,NaN,NaN,6.8289,NaN,NaN
2008-11-23,1,NaN,NaN,NaN,NaN,6.8317,NaN,NaN
2008-11-30,2,NaN,NaN,NaN,NaN,6.8349,NaN,NaN
2008-12-07,3,NaN,NaN,NaN,NaN,6.8482,NaN,NaN
2008-12-14,4,NaN,NaN,NaN,NaN,6.8451,NaN,NaN

In [73]:
for i, row in df.iterrows():
    d = pd.to_datetime(i).date()
    df.at[i, 'PPFuture'] = sereja_df.at[str(d - timedelta(1)), 'PPFuture']

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [64]:
slava_df = pd.read_csv('./data/test.csv')
#slava_df.rename(columns={"Unnamed: 0": "Date"}, inplace=True)
slava_df.set_index('Date', inplace=True)
slava_df.tail(50)

,Unnamed: 0,PPSpotAvgPrice,OilAvgPrice,PPImport,PPExport,ExchangeRate,PPFuture,OilFuture
Date,,,,,,,,
2017-11-26,462,9087.50,3930.00,NaN,NaN,6.5810,NaN,NaN
2017-12-03,463,9079.17,3920.00,NaN,NaN,6.6067,NaN,NaN
2017-12-10,464,9175.00,3910.00,NaN,NaN,6.6218,NaN,NaN
2017-12-17,465,9183.33,3850.00,NaN,NaN,6.6113,NaN,NaN
2017-12-24,466,9204.17,3781.67,NaN,NaN,6.5821,NaN,NaN
2017-12-31,467,9266.67,3763.33,NaN,NaN,6.5342,NaN,NaN
2018-01-07,468,9412.50,3746.67,NaN,NaN,6.4915,NaN,NaN
2018-01-14,469,9504.17,3771.67,NaN,NaN,6.4932,NaN,NaN
2018-01-21,470,9516.67,3813.33,NaN,NaN,6.4169,NaN,NaN
2018-01-28,471,9500.00,3916.67,NaN,NaN,6.3436,NaN,NaN
2018-02-04,472,9500.00,3933.33,NaN,NaN,6.2885,NaN,NaN
2018-02-11,473,9283.33,3963.33,NaN,NaN,6.3194,NaN,NaN
2018-02-18,474,9175.00,3963.33,NaN,NaN,6.3428,NaN,NaN
2018-02-25,475,9150.00,3941.67,NaN,NaN,6.3482,NaN,NaN
2018-03-04,476,9054.17,3980.00,NaN,NaN,6.3334,NaN,NaN
2018-03-11,477,8987.50,3980.00,NaN,NaN,6.3451,NaN,NaN
2018-03-18,478,8850.00,3963.33,NaN,NaN,6.3340,NaN,NaN
2018-03-25,479,8733.33,3963.33,NaN,NaN,6.3272,NaN,NaN
2018-04-01,480,8650.00,3948.33,NaN,NaN,6.2881,NaN,NaN
2018-04-08,481,8804.17,3948.33,NaN,NaN,6.3114,NaN,NaN
2018-04-15,482,8991.67,3940.00,NaN,NaN,6.2898,NaN,NaN
2018-04-22,483,8966.67,3938.33,NaN,NaN,6.2897,NaN,NaN
2018-04-29,484,8895.83,3950.00,NaN,NaN,6.3393,NaN,NaN
2018-05-06,485,9116.67,4016.67,NaN,NaN,6.3521,NaN,NaN
2018-05-13,486,9233.33,4108.33,NaN,NaN,6.3524,NaN,NaN
2018-05-20,487,9233.33,4172.86,NaN,NaN,6.3763,NaN,NaN
2018-05-27,488,9216.67,4447.14,NaN,NaN,6.3867,NaN,NaN
2018-06-03,489,9212.50,4482.86,NaN,NaN,6.4078,NaN,NaN
2018-06-10,490,9254.17,4547.14,NaN,NaN,6.4003,NaN,NaN
2018-06-17,491,9325.00,4530.00,NaN,NaN,6.4306,NaN,NaN
2018-06-24,492,9270.83,4525.71,NaN,NaN,6.4804,NaN,NaN
2018-07-01,493,9216.67,4521.43,NaN,NaN,6.6166,NaN,NaN
2018-07-08,494,9300.00,4542.86,NaN,NaN,6.6336,NaN,NaN
2018-07-15,495,9270.83,4554.29,NaN,NaN,6.6727,NaN,NaN
2018-07-22,496,9337.50,4575.71,NaN,NaN,6.7671,NaN,NaN
2018-07-29,497,9441.67,4590.00,NaN,NaN,6.7942,NaN,NaN
2018-08-05,498,9700.00,4661.43,NaN,NaN,6.8322,NaN,NaN
2018-08-12,499,9991.67,4847.14,NaN,NaN,6.8395,NaN,NaN
2018-08-19,500,9995.83,5008.57,NaN,NaN,6.8894,NaN,NaN
2018-08-26,501,9895.83,5101.43,NaN,NaN,6.8710,NaN,NaN
2018-09-02,502,9841.67,5235.71,NaN,NaN,6.8246,NaN,NaN
2018-09-09,503,9804.17,5364.29,NaN,NaN,6.8212,NaN,NaN
2018-09-16,504,9945.83,5564.29,NaN,NaN,6.8362,NaN,NaN
2018-09-23,505,10320.83,5672.86,NaN,NaN,6.8357,NaN,NaN
2018-09-30,506,10475.00,5701.43,NaN,NaN,6.8792,NaN,NaN
2018-10-14,507,10962.50,5722.86,NaN,NaN,6.9120,NaN,NaN
2018-10-21,508,10883.33,5715.71,NaN,NaN,6.9387,NaN,NaN
2018-10-28,509,10683.33,5687.14,NaN,NaN,6.9510,NaN,NaN
2018-11-04,510,10441.67,5622.86,NaN,NaN,6.9371,NaN,NaN
2018-11-11,511,10316.67,5575.71,NaN,NaN,6.9329,NaN,NaN

In [75]:
slava_df.head()

,Unnamed: 0,PPSpotAvgPrice,OilAvgPrice,PPImport,PPExport,ExchangeRate,PPFuture,OilFuture
Date,,,,,,,,
2008-11-16,0,NaN,NaN,NaN,NaN,6.8289,NaN,NaN
2008-11-23,1,NaN,NaN,NaN,NaN,6.8317,NaN,NaN
2008-11-30,2,NaN,NaN,NaN,NaN,6.8349,NaN,NaN
2008-12-07,3,NaN,NaN,NaN,NaN,6.8482,NaN,NaN
2008-12-14,4,NaN,NaN,NaN,NaN,6.8451,NaN,NaN

In [76]:
for i, row in df.iterrows():
    d = pd.to_datetime(i).date()
    df.at[i, 'PPSpotAvgPrice'] = slava_df.at[str(d - timedelta(1)), 'PPSpotAvgPrice']
    df.at[i, 'OilAvgPrice'] = slava_df.at[str(d - timedelta(1)), 'OilAvgPrice']

In [77]:
df.tail(50)

,PPSpotAvgPrice,OilAvgPrice,PPImport,PPExport,ExchangeRate,PPFuture,OilFuture
Date,,,,,,,
2017-11-27,9087.50,3930.00,248976992.0,19361495.0,6.5810,9198.0,57.22
2017-12-04,9079.17,3920.00,NaN,NaN,6.6067,8871.0,56.90
2017-12-11,9175.00,3910.00,NaN,NaN,6.6218,8943.0,56.40
2017-12-18,9183.33,3850.00,NaN,NaN,6.6113,8963.0,57.22
2017-12-25,9204.17,3781.67,244265508.0,19502448.0,6.5821,9183.0,NaN
2018-01-01,9266.67,3763.33,NaN,NaN,6.5342,9282.0,NaN
2018-01-08,9412.50,3746.67,NaN,NaN,6.4915,NaN,60.41
2018-01-15,9504.17,3771.67,NaN,NaN,6.4932,9638.0,62.23
2018-01-22,9516.67,3813.33,NaN,NaN,6.4169,9415.0,61.31
2018-01-29,9500.00,3916.67,176106730.0,17843894.0,6.3436,9559.0,62.61
2018-02-05,9500.00,3933.33,NaN,NaN,6.2885,9421.0,60.52
2018-02-12,9283.33,3963.33,NaN,NaN,6.3194,9230.0,57.02
2018-02-19,9175.00,3963.33,NaN,NaN,6.3428,NaN,58.73
2018-02-26,9150.00,3941.67,101199460.0,9503781.0,6.3482,NaN,60.50
2018-03-05,9054.17,3980.00,NaN,NaN,6.3334,9245.0,57.90
2018-03-12,8987.50,3980.00,NaN,NaN,6.3451,8989.0,58.26
2018-03-19,8850.00,3963.33,NaN,NaN,6.3340,8796.0,59.06
2018-03-26,8733.33,3963.33,163515117.0,14348385.0,6.3272,8545.0,63.11
2018-04-02,8650.00,3948.33,NaN,NaN,6.2881,8701.0,62.30
2018-04-09,8804.17,3948.33,NaN,NaN,6.3114,NaN,60.03
2018-04-16,8991.67,3940.00,NaN,NaN,6.2898,9005.0,63.64
2018-04-23,8966.67,3938.33,NaN,NaN,6.2897,8921.0,65.43
2018-04-30,8895.83,3950.00,47699911.0,5975882.0,6.3393,8965.0,65.13
2018-05-07,9116.67,4016.67,NaN,NaN,6.3521,NaN,66.52
2018-05-14,9233.33,4108.33,NaN,NaN,6.3524,9259.0,67.88
2018-05-21,9233.33,4172.86,NaN,NaN,6.3763,9207.0,70.48
2018-05-28,9216.67,4447.14,27884706.0,7755482.0,6.3867,9173.0,67.06
2018-06-04,9212.50,4482.86,NaN,NaN,6.4078,9244.0,71.63
2018-06-11,9254.17,4547.14,NaN,NaN,6.4003,9302.0,71.26
2018-06-18,9325.00,4530.00,NaN,NaN,6.4306,9262.0,68.17
2018-06-25,9270.83,4525.71,36159357.0,7555756.0,6.4804,NaN,69.96
2018-07-02,9216.67,4521.43,NaN,NaN,6.6166,9198.0,71.75
2018-07-09,9300.00,4542.86,NaN,NaN,6.6336,9103.0,69.29
2018-07-16,9270.83,4554.29,NaN,NaN,6.6727,9320.0,66.55
2018-07-23,9337.50,4575.71,NaN,NaN,6.7671,9338.0,65.09
2018-07-30,9441.67,4590.00,26848232.0,9153930.0,6.7942,9475.0,66.39
2018-08-06,9700.00,4661.43,NaN,NaN,6.8322,9925.0,65.31
2018-08-13,9991.67,4847.14,NaN,NaN,6.8395,10145.0,65.33
2018-08-20,9995.83,5008.57,NaN,NaN,6.8894,10012.0,63.81
2018-08-27,9895.83,5101.43,8791063.0,720416.0,6.8710,9748.0,66.50
2018-09-03,9841.67,5235.71,NaN,NaN,6.8246,9799.0,68.62
2018-09-10,9804.17,5364.29,NaN,NaN,6.8212,9832.0,68.28
2018-09-17,9945.83,5564.29,NaN,NaN,6.8362,9798.0,68.87
2018-09-24,10320.83,5672.86,NaN,NaN,6.8357,10052.0,70.81
2018-10-01,10475.00,5701.43,NaN,NaN,6.8792,NaN,72.93
2018-10-15,10962.50,5722.86,NaN,NaN,6.9120,10406.0,73.93
2018-10-22,10883.33,5715.71,NaN,NaN,6.9387,10179.0,71.45
2018-10-29,10683.33,5687.14,NaN,NaN,6.9510,9886.0,70.73
2018-11-05,10441.67,5622.86,NaN,NaN,6.9371,9764.0,63.88
2018-11-12,10316.67,5575.71,NaN,NaN,6.9329,9720.0,64.33

In [78]:
df.to_csv('retrieved_data.csv')