## Скрипт, который берёт данные о изменении валют за 10 лет (09.11.2008-09.11.2018) и записывает их в датафрейм

### Как работать с pandas можно посмотреть [здесь](https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python)

### ---------------------------------------------------------

##### Импортируем нужные библиотеки

In [1]:
import quandl
import pandas as pd

##### Загружаем данные о курсе юаня к доллару за 10 лет

In [2]:
start_date = "2008-11-10"
end_date = "2018-11-09"

quandl.ApiConfig.api_key = "Yqzd3sA4zird9KkrWVcH"
rates_data = quandl.get("BUNDESBANK/BBEX3_D_CNY_USD_CA_AC_000", start_date=start_date, end_date=end_date, collapse='weekly')
rates_data.head()

             Value
Date
2008-11-16  6.8289
2008-11-23  6.8317
2008-11-30  6.8349
2008-12-07  6.8482
2008-12-14  6.8451

##### Создаём пустой датафрейм с нужными нам колонками. В качестве индекса используем дни. Заполняем столбец 'ExchangeRate'

In [3]:
df = pd.DataFrame(index=rates_data.index, columns=['PPSpotAvgPrice', 
                             'OilAvgPrice', 
                             'PPImport', 
                             'PPExport', 
                             'ExchangeRate',
                             'PPFuture',
                             'OilFuture'])
df['ExchangeRate'] = rates_data['Value']

##### Убеждаемся что заполнили по-нормальному

In [4]:
df.head()

,PPSpotAvgPrice,OilAvgPrice,PPImport,PPExport,ExchangeRate,PPFuture,OilFuture
Date,,,,,,,
2008-11-16,NaN,NaN,NaN,NaN,6.8289,NaN,NaN
2008-11-23,NaN,NaN,NaN,NaN,6.8317,NaN,NaN
2008-11-30,NaN,NaN,NaN,NaN,6.8349,NaN,NaN
2008-12-07,NaN,NaN,NaN,NaN,6.8482,NaN,NaN
2008-12-14,NaN,NaN,NaN,NaN,6.8451,NaN,NaN

In [5]:
df.tail()

,PPSpotAvgPrice,OilAvgPrice,PPImport,PPExport,ExchangeRate,PPFuture,OilFuture
Date,,,,,,,
2018-10-14,NaN,NaN,NaN,NaN,6.9120,NaN,NaN
2018-10-21,NaN,NaN,NaN,NaN,6.9387,NaN,NaN
2018-10-28,NaN,NaN,NaN,NaN,6.9510,NaN,NaN
2018-11-04,NaN,NaN,NaN,NaN,6.9371,NaN,NaN
2018-11-11,NaN,NaN,NaN,NaN,6.9329,NaN,NaN

##### сохраняем в csv

In [6]:
df.to_csv('data/retrieved_data.csv')